locals {
  environment = terraform.workspace == "default" ? "burendo-dev" : terraform.workspace
  environment_short_domain = {
    "burendo-dev" = "dev",
    "burendo-prod" = ""
  }

  environment_domain = {
    "burendo-dev" = "${local.environment_short_domain[local.environment]}.handbook.burendo.com",
    "burendo-prod"= "handbook.burendo.com"
  }

  deploy_fqdn = {
    "burendo-dev" = true,
    "burendo-prod" = true
  }

  account = { {% for key, value in accounts.items() %}
     {{key}} = "{{value.number}}"{% endfor %}
    }

  tags = {
    Environment = local.environment
    Company     = "Burendo"
    Practice    = "Engineering"
  }

  common_labels = [
    {
      name   = "invalid"
      colour = "000000"
    }
  ]
  common_topics = [
    "burendo",
  ]
  aws_topics = [
    "aws",
    "terraform",
    "infrastructure",
    "infrastructure-as-code",
  ]

  s3_origin_id = "${local.environment}"

  region = "{{terraform.state_file_region}}"
}
