variable "assume_role" {
  default = "{{terraform.terraform_assume_role}}"
}

variable "region" {
  default = "{{terraform.state_file_region}}"
}

variable "github_client_id" {}
variable "github_client_secret" {}
